.column {
    @util center;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: 5px;

    .icon {
        size: var(--toolbarIconSize);
        margin-right: 4px;
    }

    .dropDownIcon {
        margin-left: 3px;
    }

    &:hover {
        background: #d9d9d9;
    }

    &.disabled {
        cursor: no-drop;
        opacity: 0.5;

        &:hover {
            background: transparent;
        }
    }
}