.init {
    position: relative;
    flex: 1;
}
.horizontal {
    position: absolute auto auto auto 30px;
    width: calc(100% - 30px);
    height: 30px;
}
.vertical {
    position: absolute 30px auto auto auto;
    width: 30px;
    height: calc(100% - 30px);
}