.init {
    height: var(--toolbarHeight);

    .toolbar {
        height: calc(100% - var(--tollbarTabsHeight));
        background: rgba(245, 246, 247, 1);
    }

    .none {
        display: none;
    }
}