@mixin borderRadius {
    border-radius: 6px !important;
}

:global .ant-input {
    @include borderRadius;
}

:global .ant-segmented {
    @include borderRadius;
}

:global .ant-segmented-item-selected {
    @include borderRadius;
}