.init {
    margin-top: 22px;
    @util center;
    overflow: hidden;

    :global .avatar-uploader {
        size: 104px;
    }

    .delBtn {
        display: block;
        margin-left: 14px;
        size: 19px;
        cursor: pointer;
    }

    .none {
        display: none;
    }
}