.downList {
    padding: 3px;

    .row {
        display: flex;
        align-items: center;
        padding: 4px 6px;
        border-radius: 4px;
        cursor: pointer;

        .icon {
            size: 18px;
            margin-right: 6px;
        }

        &:hover {
            background: #cad4f9;
        }
    }
}